---
title: トップ
layout: default
hide:
  title: true
  meta: true
  rightbar: true
---
{% include pagination.html %}

<ul class="cardlist">
  {% for post in paginator.posts %}
    <li class="carditem">
      <a href="{{ post.url | relative_url }}">
        <span class="card-title">{{ post.title }}</span>
        <p class="card-excerpt">{{ post.content | strip_html | truncate: 50 }}</p>
        <span class="card-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}

<script src="{{ "/assets/js/private-api.js" | relative_url }}"></script>
<script src="{{ "/assets/js/private-list.js" | relative_url }}"></script>
