<nav class="nav">
  <ul>
    <li>
      <a href="https://osu-denken.github.io"><img src="/icon.png" alt="電研ロゴ" />電研</a>
    </li>
    <li class="right">
      <button type="button" id="theme-toggle" class="theme-toggle" aria-label="テーマを切り替え" title="テーマを切り替え">
        <iconify-icon class="theme-icon theme-icon-light" icon="fa6-solid:sun" aria-hidden="true"></iconify-icon>
        <iconify-icon class="theme-icon theme-icon-dark" icon="fa6-solid:moon" aria-hidden="true"></iconify-icon>
      </button>
    </li>
    <li id="nav-join">
      <a href="https://osu-denken.github.io/blog/join">入部</a>
    </li>
    <li id="nav-login">
      <a href="https://osu-denken.github.io/?i=blog{{ page.url }}#login">ログイン</a>
    </li>
  </ul>
</nav>
